@model BLL.FreelanceMusicStore.EntityDTO.ServerRequest
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Freelance Music Store</h1>
    <p class="lead">Freelance Music Store is convenient way to order music special for you</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Abilities for clients</h2>
        <p>
            Freelance Music Store gives a lot of abilities for our clients...
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Abilities for musicians</h2>
        <p>You can work and get a some salary...</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>