@model  IEnumerable<TestProject.Models.CommentViewModel>

@foreach (var comment in Model)
{
        <button type="button" class="close" aria-label="Close" id="@comment.Id">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>@comment.CommentTime, @comment.Data</h4>
}
